* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: 'Mulish', sans-serif;
}

.generator__title {
    color: #0C1226;
    font-size: 34px;
    margin: 2rem 0;
    font-weight: 600;
    text-align: center;
}

.generator__button {
    width: 100%;
    background-color: #7E6CCA;
    color: #ffffff;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 400;
    display: block;
}
.generator__button:hover,
.generator__button:active{
    transition: .3s;
    background-color: #4b37a3;
}

.generator__instruction {
    margin: 1rem 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

.generator__copy {
    background-color: #ffffff;
    padding: 0.1rem 0;
    border-radius: 25px;
}

.generator__copy__text {
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    color: #0C1226;
    font-weight: 300;
}

.generator__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    max-width: 290px;
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__hexadecimal {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem 0 0;
}

.card__background {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.modal {
    background-color: rgb(12,18,38, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__form {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    position: relative;
}

.modal__legend {
    font-size: 1.3rem;
    color: #0c1226;
    font-weight: 600;
    padding: 1rem 0;
    width: 100%;
}

.modal__paragraph {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 200;
}

.modal__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.modal__input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #7E6CCA;
    width: 100%;
}

.modal__button--copy {
    border-radius: 5px;
    background-color: #7E6CCA;
    padding: 0.2rem 0.5rem;
}

.modal__button--close {
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    background-color: #7E6CCA;
    position: absolute;
    right: 1rem;
}

.generator__alert {
    padding: 1rem;
    background-color: #0C1226;
    width: 100%;
    display: block;
    color: #E9E9EC;
    font-weight: 100;
    font-size: 14px;
    border-radius: 2rem;
    text-align: center;
    margin: 1rem auto;
}

@media screen and (min-width: 720px) {
    .card {
        max-width: 200px;
    }

    .generator__alert { 
        max-width: 500px;
    }
}

@media screen and (min-width: 720px) {
    .generator__copy,
    .generator__button {
        margin: 0 auto;
    }
    .generator__copy {
        max-width: 480px;
    }

    .generator__button {
        max-width: 350px;
    }
}